
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgb(85, 132, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(237, 251, 254);
    min-width: 18rem;
    width: 21rem;
    /* height: 23rem; */
    border-radius: 15px;
    padding: 20px;
    
}

.headerSearch {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    border: 1px solid rgb(94, 94, 94);
    border-radius: 12px;
    padding: 5px 15px;
    align-items: center;
    gap: 7px;

}

.fa-magnifying-glass {
    cursor: pointer;
}

#cityName {
    width: 13rem;
    background-color: transparent;
    border: none;
    font-size: 18px;
    outline: none;
}

.sectionTemp {
    display: none;
    /* justify-content: center; */
    
    margin: 20px 0;
}

.showTemp {
    display: block;
}



.titleCity {
    text-align: center;
    padding-bottom: 5px;
}

.titleCity h1 {
    color: rgb(44, 44, 67);
}

.temperatura {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(90deg, rgb(128, 124, 246), rgb(101, 97, 226));
    padding: 20px 10px;
    border-radius: 15px;
    gap: 10px;
    
}

.divTemp {
    color: white;
}

.temp {
    font-size: 50px;
    font-weight: bold;
}

.descricao {
    font-weight: 500;
}

.sectionInfo {
    /* display: grid; */
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 30px 0 20px 0;
}

.showInfo {
    display: grid;
}

.info {
    box-shadow: 1px 1px 10px rgba(106, 106, 106, 0.362);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 7px ;
    background-color: white;
    /* will-change: transform; */
    /* transform: scale(1); */
    
    

}

.info:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(106, 106, 106, 0.362);
    

    
}


.iconInfo {
    padding-right: 10px;
    font-size: 22px;
}

#iconTempMax {
    padding: 5px;
    /* color:red; */
    color: #ca2f2f;
    
}

#iconTempMin {
    /* color: blue; */
    color: #0284c7;
}

#iconHumidade {
    /* color: blue; */
    color: #0fa9f0;
}

#iconVento {
    /* color: purple; */
    color: #7c3aed;
}



.titleInfo{

    font-size: 12px;
    font-weight: 600;
}

.tempInfo:last-child {
    font-size: 15px;
    font-weight: none;
}

.alert {
    padding: 10px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imgError {
    display: none;
    width: 200px;
}

.imgErrorShow {
    display: block;
    width: 200px;
    padding-top: 15px;
}

@media screen and (max-width: 350px) {
    .container {
        min-width: 14rem;
        margin: 5px;
    }

    #cityName {
        min-width: 8rem;
    }

    .temperatura {
        flex-wrap: wrap;
        gap: 2px;
    }

}

@media screen and (max-width: 300px) {
     .sectionInfo {
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        grid-template-columns: 1fr;
        justify-content: center;
        
    }
    
}